# OPEN-API API definition
openapi: 3.1.0
info:
  title: TCGdex API
  description: |
    A Multilanguage Pokémon TCG Database with Cards Pictures and most of the
    information contained on the cards.

    This is the v3 version of the API. Compared to v2:
    - Base path moved from `/v2/` to `/v3/`
    - Language codes now use ISO locale format (e.g. `fr-fr` instead of `fr`)
    - The special `intl` language returns all available translations in a single
      request: localized fields (name, description, effect, item/attack/ability
      text, stage, rarity, ...) are returned as `{locale: value}` maps that only
      include locales with data (see the `LocalizedString` schema)
    - Pricing moved from the card root to the `variants` array
    - `illustrator` is now an `illustrators` array
    - Attacks, abilities, rarities, stages and illustrators expose unified IDs
      using the `{entity-type}:{unique-id}` format
    - LEGEND cards use the `stage` field instead of a name suffix
    - Deprecated standalone sets (Jumbo, W Promotional, Radiant Collection) are
      served as variants of their parent set
    - Cards gained `setNumber`, `thirdPartyIds`, per-card `releaseDate` override
      and a `platforms` list (`physical-tcg`, `tcgp`, `tcgl`, `tcgo`)
    - Cards expose a `relations` object linking translations, reprints
      (`sameCards`) and alternate-`rarities` cards
    - Sets' `abbreviation` now carries the official set code used by The
      Pokemon Company (especially for Asian-language sets)
    - Variants are now described by a set of orthogonal facets instead of a
      single `type`. Each variant carries `foil` (normal/holo/reverse),
      `pattern`, `print`, `size`, `stamps`, `origin`, `line`, `artwork` and
      `background`, plus a stable semantic `variantId` (e.g. `holo-cosmos`,
      `normal-1st-edition`) built from those facets. `Card.variants` is now an
      array of these variant objects; the boolean variant maps and the legacy
      `variant_detailed`/`type`/`subtype`/`foil`
      fields are gone
    - `origin` distinguishes the distribution source of promos (pre-release,
      japan-post, worlds-2024, ...) from the printed `stamps` on the card
    - `line` describes how a variant is obtained
      (main/parallel/restricted/exclusive)
    - Cards expose their owning `serie`, and `set` is now optional so that
      serie-wide cards (e.g. miscellaneous promos) remain listable
    - Products gained a `cardtraderId` identifier used as pricing metadata
    - Set `cardCount` drops the legacy `firstEd` count; per-variant breakdowns
      are available through `Card.variants` and the `/variants` endpoint
    - Variants gained an `etched` facet describing the etched/textured foil
      layer (e.g. Tera Pokémon ex, Illustration Rares)
    - Sets gained a `copyright` line (`{text, year}`); cards may override it
      with their own `copyright`
    - New endpoints: card detection (`/detect`), sealed `products` and their
      pull-rates/pricing, set `pull-rates`/`pack-structure`/`box-odds`, and
      `pricing/history` + `pricing/trends` (see the dedicated section below)
    - Variants expose their TCGplayer SKUs (language / printing / condition)
      with live prices through `/cards/{id}/variants/{variant}/skus`
    - Random endpoints restored: `/random/card`, `/random/serie` and
      `/random/set`
    - Cards expose the `effect` field for trainer and energy card effects
    - Card, set, serie and product list endpoints now return a paginated
      envelope `{pagination, data}` instead of a plain array

    ### Text markup

    Energy symbols cannot be represented in plain text. Wherever they occur
    (card names, attack/ability effects, trainer and energy effects), they use
    the following markup: `{G}` Grass, `{R}` Fire, `{W}` Water, `{L}` Lightning,
    `{P}` Psychic, `{F}` Fighting, `{D}` Darkness, `{M}` Metal, `{Y}` Fairy,
    `{N}` Dragon, `{C}` Colorless. The codes follow the shorthand used by
    Wizards of the Coast oracle text and the Pokémon TCG Card Dex.

    Error responses follow RFC 9457 standard for problem details in HTTP APIs,
    with Content-Type application/problem+json. All errors include standardized
    attributes like type, title, status, detail, endpoint, and method.

    The card, set, serie and product list endpoints support filtering, sorting, and pagination features.
    See https://tcgdex.dev/rest/filtering-sorting-pagination for more details.

    ### Authentication & rate limiting

    Three access tiers are available:
    - Anonymous (no API key): 600 requests/minute, GET endpoints only
    - Free: 2400 requests/minute (with a free API key)
    - Paying: 6000 requests/minute
    Authenticated requests send the API key in the `X-API-Key` header. Card
    detection (`/detect`) requires an API key. Every response includes the
    standard     rate-limit headers (`RateLimit-Policy` and `RateLimit`, per
    draft-ietf-httpapi-ratelimit-headers), shown on the `/cards` endpoint and
    applied to all endpoints. See https://tcgdex.dev/docs/rate-limiting for the
    current limits.

    ### Card detection, products, pull rates & pricing history

    This version also adds:
    - `POST /{lang}/detect` — self-hosted card detection (image upload or URL)
    - `/products` and `/products/{id}` — sealed products (booster boxes, ETBs, ...)
    - `/sets/{id}/pull-rates`, `/sets/{id}/pack-structure`, `/sets/{id}/box-odds`
    - `/cards/{id}/pricing/history` and `/cards/{id}/pricing/trends` — 6 months of price history
    - `/cards/{id}/variants/{variant}/skus` — live TCGplayer SKU prices per variant
      (language / printing / condition)

    You can find out more about TCGdex at
    [https://www.tcgdex.net](https://www.tcgdex.net) or on
    [Discord](https://discord.gg/NehYTAhsZE).
  contact:
    name: TCGdex
    url: https://github.com/tcgdex/cards-database
    email: contact@tcgdex.net
  license:
    name: MIT License
    url: https://github.com/tcgdex/cards-database/blob/master/LICENSE
  version: "3.0.0-beta"
externalDocs:
  description: Find out more about TCGdex
  url: https://www.tcgdex.net/docs
servers:
  - url: https://api.tcgdex.net/v3/{lang}
    variables:
      lang:
        description: |
          The language (ISO locale) of the response, or `intl` to fetch data from
          all available languages in a single request. When `intl` is used,
          localized fields (name, description, effect, item/attack/ability text,
          stage, rarity, ...) are returned as a map keyed by locale, e.g.
          `{"name": {"en-us": "Furret", "fr-fr": "Fouinar"}}`, and only include
          locales that have data available (see the `LocalizedString` schema).
        enum:
          - en-us
          - fr-fr
          - es-es
          - es-mx
          - it-it
          - pt-br
          - pt-pt
          - de-de
          - nl-nl
          - pl-pl
          - ru-ru
          - ja-jp
          - ko-kr
          - zh-cn
          - zh-tw
          - id-id
          - th-th
          - intl
        default: en-us
tags:
  - name: cards
    description: Fetch cards globally
  - name: sets
    description: Fetch sets
  - name: series
    description: Fetch series
  - name: random
    description: Fetch a random card, set or series
  - name: filters
    description: Different requests to filter cards
  - name: products
    description: Fetch sealed products (booster boxes, ETBs, pre-releases, etc.)
  - name: pricing
    description: Pricing data (historical and trends)
  - name: detect
    description: Identify cards from an image
security: []
paths:
  /cards:
    get:
      tags:
        - cards
      summary: fetch the list of cards
      description: Returns a list of all cards, with support for filtering, sorting, and pagination
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortField'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/paginationPage'
        - $ref: '#/components/parameters/paginationItemsPerPage'
      responses:
        '200':
          description: 'Successful request'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cards/{cardId}:
    get:
      tags:
        - cards
      summary: Find card by ID
      description: Returns detailed information about a specified card
      parameters:
        - name: cardId
          in: path
          description: ID of card to return
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sets:
    get:
      tags:
        - sets
      summary: Get all sets
      description: Lists all Pokemon TCG sets with basic information, with support for filtering, sorting, and pagination
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortField'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/paginationPage'
        - $ref: '#/components/parameters/paginationItemsPerPage'
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sets/{set}:
    get:
      tags:
        - sets
      summary: Find set by ID
      description: Returns detailed information about a specific set, including its card list
      parameters:
        - name: set
          in: path
          description: ID of set to return
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Set'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sets/{set}/{cardLocalId}:
    get:
      tags:
        - sets
        - cards
      summary: Find card by set and local ID
      description: Returns detailed information about a specific card identified by its set and local ID within that set
      parameters:
        - name: set
          in: path
          description: ID of the set
          required: true
          schema:
            type: string
        - name: cardLocalId
          in: path
          description: Local card ID within the set
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /series:
    get:
      tags:
        - series
      summary: Get all series
      description: Returns a list of all available Pokemon TCG series, with support for filtering, sorting, and pagination
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortField'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/paginationPage'
        - $ref: '#/components/parameters/paginationItemsPerPage'
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerieList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /series/{serie}:
    get:
      tags:
        - series
      summary: Find series by ID
      description: Returns detailed information about a specific series, including all sets in that series
      parameters:
        - name: serie
          in: path
          description: ID of serie to return
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Serie'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /random/card:
    get:
      tags:
        - random
      summary: Returns a random card
      description: Returns a random card from the entire database
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /random/serie:
    get:
      tags:
        - random
      summary: Returns a random series
      description: Returns a random series from the entire database
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Serie'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /random/set:
    get:
      tags:
        - random
      summary: Returns a random set
      description: Returns a random set from the entire database
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Set'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /categories:
    get:
      tags:
        - filters
      summary: Get all categories
      description: Returns a list of all available card categories
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /categories/{category}:
    get:
      tags:
        - filters
      summary: Get cards by category
      description: Returns cards matching the specified category
      parameters:
        - name: category
          in: path
          description: Card category to filter by (display name, e.g. `Pokemon`)
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /hp:
    get:
      tags:
        - filters
      summary: Get all HP values
      description: Returns a list of all available HP values for Pokemon cards
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /hp/{hp}:
    get:
      tags:
        - filters
      summary: Get cards by HP value
      description: Returns cards with the specified HP value
      parameters:
        - name: hp
          in: path
          description: HP value to filter by
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /illustrators:
    get:
      tags:
        - filters
      summary: Get all illustrators
      description: Returns a list of all card illustrators
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /illustrators/{illustrator}:
    get:
      tags:
        - filters
      summary: Get cards by illustrator
      description: Returns cards by the specified illustrator
      parameters:
        - name: illustrator
          in: path
          description: Illustrator to filter by. Accepts either the display name (e.g. `Ken Sugimori`) or the unified identifier (e.g. `illustrator:ken-sugimori`).
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /rarities:
    get:
      tags:
        - filters
      summary: Get all rarities
      description: Returns a list of all card rarity types
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /rarities/{rarity}:
    get:
      tags:
        - filters
      summary: Get cards by rarity
      description: Returns cards with the specified rarity
      parameters:
        - name: rarity
          in: path
          description: Rarity to filter by. Accepts either the display name (e.g. `Rare`) or the unified identifier (e.g. `rarity:rare`).
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /retreats:
    get:
      tags:
        - filters
      summary: Get all retreat costs
      description: Returns a list of all available retreat cost values
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /retreats/{retreat}:
    get:
      tags:
        - filters
      summary: Get cards by retreat cost
      description: Returns cards with the specified retreat cost
      parameters:
        - name: retreat
          in: path
          description: Retreat cost to filter by
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /types:
    get:
      tags:
        - filters
      summary: Get all types
      description: Returns a list of all Pokemon card types
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /types/{type}:
    get:
      tags:
        - filters
      summary: Get cards by type
      description: Returns cards of the specified type
      parameters:
        - name: type
          in: path
          description: Card type to filter by (display name, e.g. `Psychic`)
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /dex-ids:
    get:
      tags:
        - filters
      summary: Get all Pokedex IDs
      description: Returns a list of all Pokedex ID numbers
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /dex-ids/{dexId}:
    get:
      tags:
        - filters
      summary: Get cards by Pokedex ID
      description: Returns cards with the specified Pokedex ID
      parameters:
        - name: dexId
          in: path
          description: Pokedex ID to filter by
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /energy-types:
    get:
      tags:
        - filters
      summary: Get all energy types
      description: Returns a list of all energy card types
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /energy-types/{energy-type}:
    get:
      tags:
        - filters
      summary: Get cards by energy type
      description: Returns cards with the specified energy type
      parameters:
        - name: energy-type
          in: path
          description: Energy type to filter by (display name, e.g. `Basic`)
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /regulation-marks:
    get:
      tags:
        - filters
      summary: Get all regulation marks
      description: Returns a list of all regulation marks on cards
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /regulation-marks/{regulation-mark}:
    get:
      tags:
        - filters
      summary: Get cards by regulation mark
      description: Returns cards with the specified regulation mark
      parameters:
        - name: regulation-mark
          in: path
          description: Regulation mark to filter by (display name, e.g. `E`)
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stages:
    get:
      tags:
        - filters
      summary: Get all Pokemon stages
      description: Returns a list of all Pokemon evolution stages
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stages/{stage}:
    get:
      tags:
        - filters
      summary: Get cards by stage
      description: Returns cards with the specified evolution stage
      parameters:
        - name: stage
          in: path
          description: Evolution stage to filter by. Accepts either the display name (e.g. `Stage 2`) or the unified identifier (e.g. `stage:legend`).
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /suffixes:
    get:
      tags:
        - filters
      summary: Get all card suffixes
      description: Returns a list of all card suffixes (EX, GX, V, etc.)
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /suffixes/{suffix}:
    get:
      tags:
        - filters
      summary: Get cards by suffix
      description: Returns cards with the specified suffix
      parameters:
        - name: suffix
          in: path
          description: Card suffix to filter by (display name, e.g. `VMAX`)
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /trainer-types:
    get:
      tags:
        - filters
      summary: Get all trainer types
      description: Returns a list of all trainer card types
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /trainer-types/{trainer-type}:
    get:
      tags:
        - filters
      summary: Get cards by trainer type
      description: Returns cards with the specified trainer type
      parameters:
        - name: trainer-type
          in: path
          description: Trainer type to filter by (display name, e.g. `Supporter`)
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /variants:
    get:
      tags:
        - filters
      summary: Get all card variants
      description: Returns a list of all known variant facet values (foil, pattern, print, stamps, origin, ...)
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /variants/{variant}:
    get:
      tags:
        - filters
      summary: Get cards by variant
      description: Returns cards with the specified variant
      parameters:
        - name: variant
          in: path
          description: Variant facet value to filter by (display name, e.g. `holo`)
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /detect:
    post:
      tags:
        - detect
      summary: Detect cards in an image
      description: |
        Identifies Pokemon cards in a submitted image. Accepts either a multipart
        file upload or an image URL. Requires an API key. Detected cards are
        returned localized in the request's `{lang}` language.
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: Image file to analyze
                imageUrl:
                  type: string
                  format: uri
                  description: URL of the image to analyze (alternative to a file upload)
                minConfidence:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Minimum confidence score required to return a detection (0-1)
                  default: 0.8
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDetectionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /products:
    get:
      tags:
        - products
      summary: Get all products
      description: Lists all sealed products (booster boxes, ETBs, pre-releases, etc.), with support for filtering, sorting, and pagination
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortField'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/paginationPage'
        - $ref: '#/components/parameters/paginationItemsPerPage'
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /products/{productId}:
    get:
      tags:
        - products
      summary: Find product by ID
      description: Returns detailed information about a specific sealed product
      parameters:
        - name: productId
          in: path
          description: ID of the product to return
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /products/{productId}/pull-rates:
    get:
      tags:
        - products
      summary: Get product pull rates
      description: Returns the pull rates of the product, scaled to its pack count
      parameters:
        - name: productId
          in: path
          description: ID of the product
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRates'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /products/{productId}/pricing:
    get:
      tags:
        - products
      summary: Get product pricing
      description: Returns the current pricing of the product from the pricing providers
      parameters:
        - name: productId
          in: path
          description: ID of the product
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketPrices'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sets/{set}/products:
    get:
      tags:
        - products
      summary: Get products of a set
      description: Lists all sealed products associated with a specific set
      parameters:
        - name: set
          in: path
          description: ID of the set
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sets/{set}/pull-rates:
    get:
      tags:
        - filters
      summary: Get set pull rates
      description: Returns the pull rates of a set
      parameters:
        - name: set
          in: path
          description: ID of the set
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRates'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sets/{set}/pack-structure:
    get:
      tags:
        - filters
      summary: Get set pack structure
      description: Returns the booster pack composition of a set
      parameters:
        - name: set
          in: path
          description: ID of the set
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackStructure'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sets/{set}/box-odds:
    get:
      tags:
        - filters
      summary: Get set box odds
      description: Returns the expected hits per box for a set
      parameters:
        - name: set
          in: path
          description: ID of the set
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxExpectations'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cards/{cardId}/pricing/history:
    get:
      tags:
        - pricing
      summary: Get card price history
      description: Returns the historical pricing data for a card (up to 6 months)
      parameters:
        - name: cardId
          in: path
          description: ID of the card
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Start date of the history window (inclusive)
          required: false
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: End date of the history window (inclusive)
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceHistory'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cards/{cardId}/pricing/trends:
    get:
      tags:
        - pricing
      summary: Get card price trends
      description: Returns the price trend calculation (up/down/stable) for a card
      parameters:
        - name: cardId
          in: path
          description: ID of the card
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceTrend'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cards/{cardId}/variants/{variantId}/skus:
    get:
      tags:
        - pricing
      summary: Get variant SKUs
      description: |
        Returns the TCGplayer SKUs of a specific variant with live prices.
        A SKU combines the variant's product with a language, printing and
        condition (e.g. English, Holofoil, Near Mint). Only SKUs matching the
        variant's `foil` facet are returned (normal, holo or reverse). Requires
        TCGplayer pricing to be enabled on the instance; when the provider is
        not configured the endpoint responds with `503 Service Unavailable`.
      parameters:
        - name: cardId
          in: path
          description: ID of the card
          required: true
          schema:
            type: string
        - name: variantId
          in: path
          description: ID of the variant
          required: true
          schema:
            type: string
      responses:
        '200':
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            RateLimit:
              $ref: '#/components/headers/RateLimit'
          description: Successful request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SkuPrice'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          description: TCGplayer pricing provider is not configured on this instance
        '500':
          $ref: '#/components/responses/InternalServerError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  parameters:
    filter:
      name: filters
      in: query
      required: false
      style: spaceDelimited
      explode: true
      schema:
        type: object
        additionalProperties:
          type: string
      description: |
        Filter results by field value.

        The parameter serializes each `field=value` pair as a separate query
        component prefixed with the `filters` parameter name (deepObject
        style), e.g. `?filters[name]=eq:Furret&filters[hp]=lte:60`.

        Supports various operators:
        - Default/`like:` - Laxist equality (contains, case insensitive)
        - `not:`/`notlike:` - Laxist inequality
        - `eq:` - Strict equality
        - `neq:` - Strict inequality
        - `gte:` - Greater than or equal (numbers)
        - `lte:` - Less than or equal (numbers)
        - `gt:` - Greater than (numbers)
        - `lt:` - Less than (numbers)
        - `null:` - Field is null
        - `notnull:` - Field is not null
        - Multiple values with `|` (e.g., `name=eq:Furret|Pikachu`)
      example: "name=eq:Furret&hp=lte:60"

    sortField:
      name: "sort:field"
      in: query
      description: Field to sort results by (overrides default sorting)
      required: false
      schema:
        type: [string, "null"]
      example: "name"

    sortOrder:
      name: "sort:order"
      in: query
      description: Order to sort results (ASC or DESC)
      required: false
      schema:
        type: string
        enum: [ASC, DESC]

    paginationPage:
      name: "pagination:page"
      in: query
      description: Page number for paginated results
      required: false
      schema:
        type: [integer, "null"]
        minimum: 1
        default: 1
      example: 1

    paginationItemsPerPage:
      name: "pagination:itemsPerPage"
      in: query
      description: Number of items per page (applied when pagination:page is used)
      required: false
      schema:
        type: [integer, "null"]
        minimum: 1
        maximum: 250
        default: 100
      example: 25
  headers:
    RateLimitPolicy:
      description: |
        The rate-limit quota policy that applies to the response. A Structured
        Fields list (RFC 9651) of quota policy items, each naming a policy with
        its quota (`q`) and its window in seconds (`w`). This header is stable
        across responses.
      schema:
        type: string
        example: '"default";q=100;w=60'
    RateLimit:
      description: |
        The current rate-limit state for the policy. A Structured Fields list
        (RFC 9651) of service limit items, each reporting the remaining quota
        (`r`) and the effective window in seconds (`t`). Values may change on
        every response.
      schema:
        type: string
        example: '"default";r=42;t=18'
    RetryAfter:
      description: Seconds to wait before retrying the request (per RFC 9110)
      schema:
        type: integer
  responses:
    NotFound:
      description: The specified resource was not found
      headers:
        RateLimit-Policy:
          $ref: '#/components/headers/RateLimitPolicy'
        RateLimit:
          $ref: '#/components/headers/RateLimit'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://tcgdex.dev/errors/not-found"
            title: "Resource Not Found"
            status: 404
            detail: "The requested resource could not be found"
            endpoint: "/v3/cards/invalid-id"
            method: "GET"
    BadRequest:
      description: The request was invalid
      headers:
        RateLimit-Policy:
          $ref: '#/components/headers/RateLimitPolicy'
        RateLimit:
          $ref: '#/components/headers/RateLimit'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://tcgdex.dev/errors/bad-request"
            title: "Invalid Request"
            status: 400
            detail: "The request contains invalid parameters"
            endpoint: "/v3/sets/invalid-format"
            method: "GET"
    InternalServerError:
      description: An unexpected error occurred on the server
      headers:
        RateLimit-Policy:
          $ref: '#/components/headers/RateLimitPolicy'
        RateLimit:
          $ref: '#/components/headers/RateLimit'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://tcgdex.dev/errors/server-error"
            title: "Internal Server Error"
            status: 500
            detail: "An unexpected error occurred while processing your request"
            endpoint: "/v3/cards"
            method: "GET"
    Unauthorized:
      description: Authentication is required for this endpoint. Provide a valid API key via the `apiKey` header or `?apiKey=` query parameter.
      headers:
        RateLimit-Policy:
          $ref: '#/components/headers/RateLimitPolicy'
        RateLimit:
          $ref: '#/components/headers/RateLimit'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://tcgdex.dev/errors/unauthorized"
            title: "Unauthorized"
            status: 401
            detail: "A valid API key is required for this endpoint"
            endpoint: "/v3/en-us/detect"
            method: "POST"
    Forbidden:
      description: The provided API key does not have permission to access this endpoint or resource
      headers:
        RateLimit-Policy:
          $ref: '#/components/headers/RateLimitPolicy'
        RateLimit:
          $ref: '#/components/headers/RateLimit'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://tcgdex.dev/errors/forbidden"
            title: "Forbidden"
            status: 403
            detail: "Your API key lacks permission to access this endpoint"
            endpoint: "/v3/en-us/detect"
            method: "POST"
    TooManyRequests:
      description: |
        The rate limit for this endpoint has been exceeded. See the `RateLimit`
        header for the exhausted policy and the `Retry-After` response header
        for how long to wait before retrying.
      headers:
        RateLimit-Policy:
          $ref: '#/components/headers/RateLimitPolicy'
        RateLimit:
          $ref: '#/components/headers/RateLimit'
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: "https://tcgdex.dev/errors/too-many-requests"
            title: "Too Many Requests"
            status: 429
            detail: "The rate limit for this endpoint has been exceeded. Retry after the time specified in the Retry-After header."
            endpoint: "/v3/cards"
            method: "GET"
  schemas:
    Problem:
      description: RFC 9457 problem details object for API errors
      type: object
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: URI reference that identifies the problem type
          example: "https://tcgdex.dev/errors/not-found"
        title:
          type: string
          description: Short, human-readable summary of the problem type
          example: "The resource you are trying to reach does not exist"
        status:
          type: integer
          description: HTTP status code
          example: 404
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence of the problem
          example: "The requested card with ID 'invalid-id' could not be found"
        endpoint:
          type: string
          description: The API endpoint that was requested
          example: "/v3/i-do-not-exists"
        method:
          type: string
          description: The HTTP method used for the request
          example: "GET"
      examples:
        - type: "https://tcgdex.dev/errors/not-found"
          title: "Resource Not Found"
          status: 404
          detail: "The requested card with ID 'base1-999' could not be found"
          endpoint: "/v3/cards/base1-999"
          method: "GET"
        - type: "https://tcgdex.dev/errors/bad-request"
          title: "Invalid Request"
          status: 400
          detail: "The provided parameter 'hp' must be a valid number"
          endpoint: "/v3/hp/abc"
          method: "GET"
        - type: "https://tcgdex.dev/errors/server-error"
          title: "Internal Server Error"
          status: 500
          detail: "An unexpected error occurred while processing your request"
          endpoint: "/v3/cards"
          method: "GET"
    WeakRes:
      description: A type the Pokemon is weak against or resistant to
      type: object
      required:
        - type
      properties:
        type:
          type: string
          example: "Psychic"
        value:
          type: [string, "null"]
          example: x2
    Booster:
      description: Represents a booster pack that contains Pokemon cards
      required:
        - id
        - name
      type: object
      properties:
        id:
          type: string
          description: The booster ID using format boo_<set_id>-<booster_name>
          pattern: "^boo_.*-.*$"
          example: "boo_A1-mewtwo"
        name:
          type: string
          description: The name of the booster
          example: "Mewtwo"
        logo:
          type: [string, "null"]
          description: URL to the logo of the booster
          example: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-logo"
        artwork_front:
          type: [string, "null"]
          description: URL to the front artwork of the booster pack
          example: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-front"
        artwork_back:
          type: [string, "null"]
          description: URL to the back artwork of the booster pack
          example: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-back"
      examples:
        - id: "boo_A1-mewtwo"
          name: "Mewtwo"
          logo: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-logo"
          artwork_front: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-front"
          artwork_back: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-back"
        - id: "boo_base1-base"
          name: "Base Set Booster"
          logo: null
          artwork_front: "https://assets.tcgdex.net/en/base/base1/boosters/base/front"
          artwork_back: null
    SerieResume:
      description: Basic information about a Pokemon TCG series
      required:
        - id
        - name
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the series
        name:
          allOf:
            - $ref: '#/components/schemas/LocalizedString'
          description: Name of the series
        logo:
          type: [string, "null"]
          description: URL to the logo of the series
    Serie:
      description: Detailed information about a Pokemon TCG series, including all sets within the series
      required:
        - id
        - name
        - sets
        - firstSet
        - lastSet
        - releaseDate
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the series
        name:
          allOf:
            - $ref: '#/components/schemas/LocalizedString'
          description: Name of the series
        logo:
          type: string
          description: URL to the logo of the series
        releaseDate:
          type: string
          format: date
          description: Release date of the series
        firstSet:
          allOf:
            - $ref: '#/components/schemas/SetResume'
          description: The first set released in this series
        lastSet:
          allOf:
            - $ref: '#/components/schemas/SetResume'
          description: The most recent set released in this series
        sets:
          type: array
          description: All sets contained in this series
          items:
            $ref: '#/components/schemas/SetResume'
    SetCardCount:
      description: |
        Statistics about the number of cards in a set.

        `total` is the number of card entries in the set, `official` the number of
        officially numbered cards. `normal`, `reverse` and `holo` are counted along
        the `foil` axis of the variant model — a card with a `holo` variant counts
        toward `holo`, one with a `reverse` variant toward `reverse`, and so on.
        These counts overlap: a card having both a `normal` and a `holo` variant
        counts toward both. Other facet distinctions (pattern, print, origin, ...)
        share the same count and are not broken out here.
      required:
        - official
        - total
      type: object
      properties:
        total:
          type: number
          description: Total number of card entries in the set, including non-numbered entries
          example: 101
        official:
          type: number
          description: Number of cards officially numbered in the set
          example: 100
        normal:
          type: number
          description: Number of cards having a normal variant
          example: 100
        reverse:
          type: number
          description: Number of cards having a reverse holo variant
          example: 0
        holo:
          type: number
          description: Number of cards having a holographic variant
          example: 0
    Copyright:
      description: |
        Copyright information printed at the bottom of the card face.
        Distinct from the `print` variant values (`1999-2000-copyright`, ...),
        which describe a print state of older cards.
      type: object
      required:
        - text
        - year
      properties:
        text:
          type: string
          description: Copyright text exactly as printed on the card
          example: "©2024 Pokémon / Nintendo / Creatures / GAME FREAK"
        year:
          type: number
          description: The most recent year in the copyright string
          example: 2024
    Set:
      description: |
        Detailed information about a Pokemon TCG set, including card lists and metadata.

        Deprecated standalone sets (Jumbo, W Promotional, Radiant Collection) are no longer
        returned on their own — their cards are served under their parent set as variants
        (e.g. `size: jumbo`, the `w-promo` stamp, or the `radiant-collection` pattern).
      required:
        - cardCount
        - cards
        - id
        - name
        - legal
        - serie
        - releaseDate
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the set
          example: "base1"
        name:
          allOf:
            - $ref: '#/components/schemas/LocalizedString'
          description: Name of the set
          example: "Base Set"
        logo:
          type: string
          description: URL to the logo of the set
          example: "https://assets.tcgdex.net/en-us/base/base1/logo"
        symbol:
          type: [string, "null"]
          description: URL to the set symbol
          example: "https://assets.tcgdex.net/univ/base/base1/symbol"
        serie:
          allOf:
            - $ref: '#/components/schemas/SerieResume'
          description: The series this set belongs to
        releaseDate:
          type: string
          format: date
          description: Official release date of the set
        copyright:
          allOf:
            - $ref: '#/components/schemas/Copyright'
          description: Copyright information printed at the bottom of the cards of this set
        boosters:
          type: array
          description: The booster packs available in this set
          items:
            $ref: '#/components/schemas/Booster'
          example:
            - id: "boo_A1-mewtwo"
              name: "Mewtwo"
              logo: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-logo"
              artwork_front: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-front"
              artwork_back: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-back"
            - id: "boo_A1-pikachu"
              name: "Pikachu"
        legal:
          type: object
          description: Information about tournament legality of this set
          required:
            - standard
            - expanded
          properties:
            standard:
              type: boolean
              description: Indicates whether this set is legal in standard format tournaments
              example: false
            expanded:
              type: boolean
              description: Indicates whether this set is legal in expanded format tournaments
              example: true
        abbreviation:
          type: [string, "null"]
          description: Official set abbreviation/code used by The Pokemon Company (particularly useful for Asian-language sets, e.g. `SV1a` for Japanese Shiny Treasure ex)
          example: "SV1a"
        cardCount:
          allOf:
            - $ref: '#/components/schemas/SetCardCount'
          description: Statistics about the number of cards in this set
        cards:
          type: array
          description: List of all cards in this set
          items:
            $ref: '#/components/schemas/CardResume'
    SetResume:
      description: Basic information about a Pokemon TCG set
      required:
        - cardCount
        - id
        - name
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the set
          example: base1
        name:
          allOf:
            - $ref: '#/components/schemas/LocalizedString'
          description: Name of the set
          example: Base Set
        logo:
          type: string
          description: URL to the logo of the set
          example: https://assets.tcgdex.net/en-us/base/base1/logo
        symbol:
          type: string
          description: URL to the set symbol
          example: https://assets.tcgdex.net/univ/base/base1/symbol
        releaseDate:
          type: string
          format: date
          description: Official release date of the set
          example: "1999-01-09"
        abbreviation:
          type: [string, "null"]
          description: Official set abbreviation/code used by The Pokemon Company (particularly useful for Asian-language sets, e.g. `SV1a` for Japanese Shiny Treasure ex)
          example: "SV1a"
        cardCount:
          allOf:
            - $ref: '#/components/schemas/SetCardCount'
          description: Statistics about the number of cards in this set
    Pagination:
      description: Pagination metadata returned by paginated list endpoints
      type: object
      required:
        - page
        - itemsPerPage
        - count
        - pageCount
        - totalCount
      properties:
        page:
          type: integer
          description: Current page number, starting at 1
          example: 1
        itemsPerPage:
          type: integer
          description: Number of items requested per page
          example: 100
        count:
          type: integer
          description: Number of items returned in this response
          example: 100
        pageCount:
          type: integer
          description: Total number of pages for the matching results
          example: 124
        totalCount:
          type: integer
          description: Total number of items matching the query
          example: 12345
    CardList:
      description: Paginated list of cards
      type: object
      required:
        - pagination
        - data
      properties:
        pagination:
          allOf:
            - $ref: '#/components/schemas/Pagination'
          description: Pagination metadata for the returned cards
        data:
          type: array
          description: Cards on the current page
          items:
            $ref: '#/components/schemas/CardResume'
    SetList:
      description: Paginated list of sets
      type: object
      required:
        - pagination
        - data
      properties:
        pagination:
          allOf:
            - $ref: '#/components/schemas/Pagination'
          description: Pagination metadata for the returned sets
        data:
          type: array
          description: Sets on the current page
          items:
            $ref: '#/components/schemas/SetResume'
    SerieList:
      description: Paginated list of series
      type: object
      required:
        - pagination
        - data
      properties:
        pagination:
          allOf:
            - $ref: '#/components/schemas/Pagination'
          description: Pagination metadata for the returned series
        data:
          type: array
          description: Series on the current page
          items:
            $ref: '#/components/schemas/SerieResume'
    ProductList:
      description: Paginated list of products
      type: object
      required:
        - pagination
        - data
      properties:
        pagination:
          allOf:
            - $ref: '#/components/schemas/Pagination'
          description: Pagination metadata for the returned products
        data:
          type: array
          description: Products on the current page
          items:
            $ref: '#/components/schemas/Product'
    CardResume:
      description: Basic information about a Pokemon TCG card
      required:
        - id
        - localId
        - name
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the card
          example: "sv09-168"
        localId:
          type: string
          description: Card number within its set
          example: "168"
        image:
          type: [string, "null"]
          description: |
            URL to the card image (without extension). Append `/{quality}.{extension}` to select a variant:
            `{quality}` is `high` (600x825) or `low` (245x337), and `{extension}` is `png`, `webp` or `jpg`.
            `webp` is recommended (transparent background, most compact); `png` keeps the transparent
            background; `jpg` uses a black background and is not recommended.
          example: "https://assets.tcgdex.net/en/sv/sv09/168"
        name:
          allOf:
            - $ref: '#/components/schemas/LocalizedString'
          description: Name of the card (including any suffix)
          example: "Furret"
    Card:
      description: Detailed information about a Pokemon TCG card, including game mechanics
      required:
        - category
        - id
        - localId
        - name
        - rarity
        - serie
        - legal
        - updated
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the card
          example: sv09-168
        localId:
          type: string
          description: Card number within its set
          example: '168'
        setNumber:
          type: object
          description: The card set number at the bottom left / right
          properties:
            text:
              type: string
              description: The full text of the card number
              example: "168/159"
            nominator:
              type: string
              description: The first part of the no. (if there is no `/` it will include everything)
              example: "168"
            numeric:
              type: number
              description: A parseable area as a number (e.g. 065 = 65, GG55 = 55)
              example: 168
            denominator:
              type: [string, "null"]
              description: The second part of the no (skipped if there is no `/`)
              example: "159"
        image:
          type: [string, "null"]
          description: |
            URL to the card image (without extension). Append `/{quality}.{extension}` to select a variant:
            `{quality}` is `high` (600x825) or `low` (245x337), and `{extension}` is `png`, `webp` or `jpg`.
            `webp` is recommended (transparent background, most compact); `png` keeps the transparent
            background; `jpg` uses a black background and is not recommended.
          example: https://assets.tcgdex.net/en/sv/sv09/168
        name:
          allOf:
            - $ref: '#/components/schemas/LocalizedString'
          description: Name of the card (including any suffix). Energy symbols use the `{G}`-style markup (see the Text markup section)
          example: Furret
        platforms:
          type: [array, "null"]
          description: Platforms on which this card is available. `physical-tcg` indicates the physical trading card game; `tcgp`, `tcgl` and `tcgo` indicate virtual-only platforms (Pokémon TCG Pocket, Pokémon TCG Live, Pokémon TCG Online). Null when the platform is unknown.
          example: ["tcgp"]
          items:
            type: string
            enum: [physical-tcg, tcgp, tcgl, tcgo]
        releaseDate:
          type: [string, "null"]
          format: date
          description: Optional per-card release date that overrides the set release date (useful for promos). Falls back to the set release date when absent.
          example: "1999-01-09"
        illustrators:
          type: [array, "null"]
          description: Artists who illustrated the card (array, supports collaboration cards)
          items:
            required:
              - id
              - name
            type: object
            properties:
              id:
                type: string
                description: Unique identifier of the illustrator
                example: "illustrator:ken-sugimori"
              name:
                type: string
                description: Name of the illustrator
                example: "Ken Sugimori"
        category:
          type: string
          description: Card category (Pokemon, Trainer, or Energy)
          example: "Pokemon"
        rarity:
          allOf:
            - $ref: '#/components/schemas/LocalizedString'
          description: Card rarity (Common, Uncommon, Rare, Ultra Rare, etc.)
          example: "Rare"
        rarityId:
          type: [string, "null"]
          description: Unique identifier of the rarity
          example: "rarity:rare"
        set:
          description: The set this card belongs to. Absent for serie-wide cards that are not part of a numbered set (e.g. miscellaneous promos) — those cards only have a `serie`.
          anyOf:
            - $ref: '#/components/schemas/SetResume'
            - type: 'null'
        serie:
          allOf:
            - $ref: '#/components/schemas/SerieResume'
          description: The series this card belongs to. Present on every card, allowing serie-wide cards to be listed without a set.
        relations:
          allOf:
            - $ref: '#/components/schemas/Relations'
          description: Relationships between this card and other cards (translations, reprints, alternate rarities)
        variants:
          type: [array, "null"]
          description: |
            The variants of this card, one entry per distinct variant
            (deduplicated by `variantId`). Each variant describes its facets
            (foil, pattern, print, stamps, ...) and optionally carries its own
            pricing and third-party identifiers.
          items:
            $ref: '#/components/schemas/Variant'
        hp:
          type: [number, "null"]
          description: Hit Points (HP) of the Pokemon
          example: 80
        types:
          type: [array, "null"]
          description: Energy types of the Pokemon
          items:
            type: string
            example: Psychic
        evolveFrom:
          type: [string, "null"]
          description: Name of the Pokemon this evolves from
          example: "Kadabra"
        stage:
          anyOf:
            - $ref: '#/components/schemas/LocalizedString'
            - type: 'null'
          description: Evolution stage (Basic, Stage 1, Stage 2, legend, etc.). LEGEND cards use the stage value `legend` instead of a name suffix.
          example: "Stage 2"
        stageId:
          type: [string, "null"]
          description: Unique identifier of the stage
          example: "stage:legend"
        suffix:
          type: [string, "null"]
          description: Special card suffix (EX, GX, V, ex, etc.). LEGEND is no longer a suffix — use the stage field.
          example: "VMAX"
        item:
          required:
            - effect
            - name
          type: object
          description: Pokemon's held item information
          properties:
            name:
              allOf:
                - $ref: '#/components/schemas/LocalizedString'
              description: Name of the held item
            effect:
              allOf:
                - $ref: '#/components/schemas/LocalizedString'
              description: Effect of the held item
        trainerType:
          type: [string, "null"]
          description: Type of trainer card (Item, Supporter, Stadium, Tool)
        energyType:
          type: [string, "null"]
          description: Type of energy card (Basic, Special)
        regulationMark:
          type: [string, "null"]
          description: Regulation mark on cards (introduced in Sword & Shield)
          example: "E"
        legal:
          type: object
          description: Information about tournament legality of this card
          required:
            - standard
            - expanded
          properties:
            standard:
              type: boolean
              description: Indicates whether this card is legal in standard format tournaments
              example: false
            expanded:
              type: boolean
              description: Indicates whether this card is legal in expanded format tournaments
              example: true
        description:
          anyOf:
            - $ref: '#/components/schemas/LocalizedString'
            - type: 'null'
          description: Descriptive text or flavor text on the card
        effect:
          anyOf:
            - $ref: '#/components/schemas/LocalizedString'
            - type: 'null'
          description: Card Effect (mostly for trainers & energies). Energy symbols use the `{G}`-style markup (see the Text markup section)
        level:
          type: [number, string]
          description: Level of the Pokemon (can be a string 'X' for LEVEL-UP cards)
          example: 42
        abilities:
          type: array
          description: Pokemon abilities (Poké-Power, Poké-Body, Ability, etc.)
          items:
            required:
              - id
              - name
            type: object
            properties:
              id:
                type: string
                description: Unique identifier of the ability
                example: "ability:damage-swap"
              type:
                type: string
                description: Type of ability (Poké-Power, Poké-Body, Ability, etc.)
                example: "Poké-Power"
              name:
                allOf:
                  - $ref: '#/components/schemas/LocalizedString'
                description: Name of the ability
                example: "Damage Swap"
              effect:
                anyOf:
                  - $ref: '#/components/schemas/LocalizedString'
                  - type: 'null'
                description: Effect text of the ability. Energy symbols use the `{G}`-style markup (see the Text markup section)
                example: "As often as you like..."
        attacks:
          type: array
          description: Pokemon attacks
          items:
            required:
              - id
              - name
            type: object
            properties:
              id:
                type: string
                description: Unique identifier of the attack
                example: "attack:confuse-ray"
              cost:
                type: array
                description: Energy cost to use this attack
                items:
                  type: string
                  example: "Psychic"
              name:
                allOf:
                  - $ref: '#/components/schemas/LocalizedString'
                description: Name of the attack
                example: "Confuse Ray"
              effect:
                anyOf:
                  - $ref: '#/components/schemas/LocalizedString'
                  - type: 'null'
                description: Effect text of the attack. Energy symbols use the `{G}`-style markup (see the Text markup section)
                example: "Flip a coin. If heads, ..."
              damage:
                type: [number, string]
                description: Base damage of the attack (can be string for special damage)
                example: 30
        retreat:
          type: [number, "null"]
          description: Retreat cost of the Pokemon
          example: 3
        dexId:
          type: array
          description: Pokedex number(s) of the Pokemon
          items:
            type: number
        weaknesses:
          type: array
          description: Types the Pokemon is weak against
          items:
            $ref: '#/components/schemas/WeakRes'
        resistances:
          type: array
          description: Types the Pokemon is resistant to
          items:
            $ref: '#/components/schemas/WeakRes'
        boosters:
          type: array
          description: Boosters in which this card is available
          items:
            $ref: '#/components/schemas/Booster'
          example:
            - id: "boo_A1-mewtwo"
              name: "Mewtwo"
              logo: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-logo"
              artwork_front: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-front"
              artwork_back: "https://assets.tcgdex.net/en/tcgp/A1/boosters/mewtwo-back"
        thirdPartyIds:
          type: [object, "null"]
          description: Third-party identifiers for the card
          properties:
            cardmarket:
              type: [number, "null"]
              description: Cardmarket product ID of the card
              example: 273696
            tcgplayer:
              type: [number, "null"]
              description: TCGplayer product ID of the card
              example: 42346
            cardtrader:
              type: [number, "null"]
              description: CardTrader product ID of the card
        links:
          type: [object, "null"]
          description: Direct links to third-party product pages
          properties:
            cardmarket:
              type: [string, "null"]
              description: Cardmarket product page URL
              example: "https://www.cardmarket.com/en/Pokemon/Products/Singles/sv09-168"
            tcgplayer:
              type: [string, "null"]
              description: TCGplayer product page URL
              example: "https://www.tcgplayer.com/product/42346"
            cardtrader:
              type: [string, "null"]
              description: CardTrader product page URL
        copyright:
          allOf:
            - $ref: '#/components/schemas/Copyright'
          description: Copyright override of this card. When present, overrides the copyright of its set.
        updated:
          type: string
          description: Timestamp of when this card data was last updated
          format: date-time
    Relations:
      description: Relationships between this card and other cards, useful for discovery and exploration (find reprints, translations, or alternate rarities of a card)
      type: object
      properties:
        translations:
          type: [array, "null"]
          description: Cards that are translations of this card — the same/equivalent card in another language or regional set (e.g. linking Western and Asian sets)
          items:
            $ref: '#/components/schemas/CardResume'
        sameCards:
          type: [array, "null"]
          description: Cards that are functionally the same as this card (reprints) — same illustrator, texts and information, but printed in different sets or languages
          items:
            $ref: '#/components/schemas/CardResume'
        rarities:
          type: [array, "null"]
          description: Cards that share the same mechanics, attacks and texts but are available in other rarities (e.g. common, full art, secret illustration rare), usually with different illustrators
          items:
            $ref: '#/components/schemas/CardResume'
    Variant:
      description: |
        A variant of a card, described by a set of orthogonal facets. Each facet
        captures one independent dimension of the physical card (how it is
        foiled, its print state, its size, the stamps printed on it, where it
        came from, ...); a variant is a point in that multi-dimensional space.

        The main variant of a card (no foil, standard size, no stamps) is not
        listed in `Card.variants` — only the variants that differ from it.
      type: object
      required:
        - foil
        - variantId
      properties:
        variantId:
          type: string
          description: |
            Stable semantic identifier built from the variant facets
            (foil, pattern, print, size, stamps, origin, line, artwork,
            background) in canonical order, non-default facets only, joined with
            `-` (e.g. `holo-cosmos`, `normal-1st-edition`,
            `holo-shadowless-1st-edition`). Used to correlate variants across
            cards, sets and languages.
          example: "holo-cosmos"
        foil:
          type: string
          enum: [normal, holo, reverse]
          description: |
            Foil axis of the variant. `normal` = no holographic element,
            `holo` = the illustration is foiled, `reverse` = everything but the
            illustration is foiled.
          example: "holo"
        pattern:
          type: [string, "null"]
          description: |
            Foil pattern applied on top of the holo/reverse foil (cosmos,
            pokeball, galaxy, cracked-ice, mirror, lenticular, metal, glossy,
            ...).
          example: "cosmos"
        etched:
          type: [boolean, "null"]
          description: |
            Whether the variant has an etched/textured foil layer (e.g. Tera
            Pokémon ex, Illustration Rares). Orthogonal to `foil`: an etched
            card is typically also `foil: holo`.
          example: true
        print:
          type: [string, "null"]
          description: |
            Print state of the card, mostly relevant for older sets (shadowless,
            unlimited, 1999-2000-copyright, ...).
          example: "shadowless"
        size:
          type: [string, "null"]
          enum: [standard, jumbo]
          description: The size of the card. Omitted when standard.
          example: "jumbo"
        stamps:
          type: [array, "null"]
          description: |
            The stamps printed on the card (1st-edition, staff, set-logo,
            w-promo, ...). Event and distribution marks (pre-release,
            pokemon-center, ...) are reported in `origin` instead.
          items:
            type: string
          example:
            - "1st-edition"
        origin:
          type: [string, "null"]
          description: |
            Distribution source of a promotional variant (pre-release,
            japan-post, pokemon-center, worlds-2024, gamestop, ebay-cosmos,
            ...). Distinct from `stamps` — the origin is where the promo came
            from, the stamps are what is printed on it.
          example: "worlds-2024"
        line:
          type: [string, "null"]
          enum: [main, parallel, restricted, exclusive]
          description: |
            How the variant is obtained. `main` = booster packs, `parallel` =
            specific products (build & battle kits, pre-constructed decks),
            `restricted` = event or promotion distribution, `exclusive` = event
            participation rewards (staffing, top cut, winners, professor
            program). Variants default to main.
          example: "parallel"
        artwork:
          type: [string, "null"]
          enum: [full-art, alt-art]
          description: |
            Artwork style of the variant. `full-art` = the artwork covers the
            whole card, `alt-art` = alternative artwork.
          example: "full-art"
        background:
          type: [string, "null"]
          enum: [gold, rainbow]
          description: |
            Background style of the variant. `gold` = gold background, `rainbow`
            = rainbow background.
          example: "gold"
        serialCode:
          type: [string, "null"]
          description: Serial or error code printed on the card, for variants that only differ by their serial code (e.g. EX Sandstorm Baltoy `Q12-X23-3GL`)
          example: "Q12-X23-3GL"
        languages:
          type: [array, "null"]
          description: List of languages for which this variant is available (absent means all languages)
          items:
            type: string
        image:
          type: [string, "null"]
          description: URL to the image of this specific variant (without extension). Append `/{quality}.{extension}` to select a variant (`high`/`low`; `png`/`webp`/`jpg`)
          example: "https://assets.tcgdex.net/en/sv/sv09/168"
        thirdParty:
          type: [object, "null"]
          description: Third-party identifiers specific to this variant
          properties:
            cardmarket:
              type: [number, "null"]
              description: Cardmarket product ID of the variant
            tcgplayer:
              type: [number, "null"]
              description: TCGplayer product ID of the variant
            cardtrader:
              type: [number, "null"]
              description: CardTrader product ID of the variant
        pricing:
          allOf:
            - $ref: '#/components/schemas/MarketPrices'
          description: Pricing for this variant. In v3, pricing moved from the card root to the variants array.
    Pricing:
      description: Pricing information from a provider
      type: object
      properties:
        currency:
          type: [string, "null"]
          description: ISO 4217 currency code
          example: "USD"
        low:
          type: [number, "null"]
          description: Lowest market price
          example: 1.99
        mid:
          type: [number, "null"]
          description: Average market price
          example: 2.99
        high:
          type: [number, "null"]
          description: Highest market price
          example: 3.99
        avg:
          type: [number, "null"]
          description: Average price (used by cardmarket)
          example: 2.5
        updated:
          type: [string, "null"]
          format: date-time
          description: Timestamp of the last price update
        trend:
          type: [string, "null"]
          enum: [up, down, stable]
          description: Price trend over the tracked period
          example: "up"
        trendPercent:
          type: [number, "null"]
          description: Price trend percentage over the tracked period
          example: 5.2
    SkuPrice:
      description: |
        A TCGplayer SKU of a variant. A SKU is the finest-grained listing unit,
        combining the variant's product with a language, printing and condition
        (e.g. English, Holofoil, Near Mint). Prices are fetched live from
        TCGplayer when the pricing provider is enabled on the instance.
      required:
        - sku
[...]
