###########
# General #
###########

# the user agent generally used for external communications
USER_AGENT=

##################################################################################
# TCGPlayer Provider                                                             #
# Access order (Proxy > TCGPlayer > TCGCSV)                                      #
# If one env is not defined for one provider                                     #
# go to the next (fallback to TCGCSV which need USER_AGENT or TCGCSV_USER_AGENT) #
##################################################################################
## TCGPlayer proxy access
# TCGPlayer compatible API base URL (see https://docs.tcgplayer.com/reference/)
TCGPLAYER_PROXY=https://example.com/api/v1/providers/tcgplayer

# Optionnal Bearer Token to send next to the proxy request
TCGPLAYER_PROXY_API_KEY=

## Direct TCGPlayer access
TCGPLAYER_CLIENT_ID=
TCGPLAYER_CLIENT_NAME=
TCGPLAYER_CLIENT_SECRET=
