# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Compile

on:
  push:
    branches:
      - master
    paths:
      - 'data/**'
      - 'legals.ts'
  pull_request:

jobs:
  test:
    name: Compilation Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup NodeJS
      uses: actions/setup-node@v1
      with:
        node-version: 15.x
    - run: yarn
    - run: yarn compile
  push:
    name: Launch the compiler
    needs: test
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    steps:
    - name: Compiler Dispatch
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.PAC }}
        repository: tcgdex/compiler
        event-type: card-database-update
