name: Test the Data
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3


    - name: Setup BunJS
      uses: oven-sh/setup-bun@v1

    - name: Install deps
      run: |
        RUN bun install --frozen-lockfile
        cd server
        bun install --frozen-lockfile

    - name: Validate the data
      run: bun run validate
