name: Test the Data

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - "**"

permissions: {}
jobs:
  test:
    runs-on: ${{ matrix.os }}
    permissions: {}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        persist-credentials: false

    - name: Setup BunJS
      uses: oven-sh/setup-bun@v2

    - name: Install deps
      run: |
        bun install -g @usebruno/cli
        bun install --frozen-lockfile
        cd server
        bun install --frozen-lockfile
        bun run compile

    - name: Validate the data & the server
      run: |
        bun run validate
        cd server
        bun run --bun validate

    - name: Validate some requests
      run: |
        cd server
        bun run start &
        sleep 10
        cd ../.bruno
        bru run --env Developpement
